.hero {
  height: 100vh;
  display: flex;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  line-height: 1.1;
}

.hero-left h2 {
  font-size: 26px;
  font-weight: 600;
  text-align: start;
}

.hero-left p {
  font-size: 100px;
  font-weight: 700;
  text-align: start;
}

.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-hand-icon img {
  width: 105px;
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 310px;
  height: 70px;
  border-radius: 75px;
  margin-top: 30px;
  background: rgb(225, 80, 80);
  color: white;
  font-size: 22px;
  font-weight: 500;
}

.hero-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.hero-right img{
    width: 90%;
    height: 90%;
}
